<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="/RRR/css/all.css">
    <link rel="stylesheet" href="/RRR/css/bootstrap.min.css">
    <link rel="stylesheet" href="/RRR/webfonts/fa-brands-400.ttf">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="ecome.css">
</head>

<body>
    <section class="sec_1">
        <header class="header">
            <div class="top_header">
                <div class="container">
                    <div class="row d-flex align-items-center">
                        <div class="col-lg-6 col-md-7 d-flex align-items-center ">
                            <div class="heder_top_left ">
                                <p class="">Free shipping, 30-day return or refund guarantee.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-5">
                            <div class="header_top_right d-flex justify-content-end  ">
                                <div class="header_top_link">
                                    <a href="#" class="text-decoration-none sifa mx-3">Sign in</a>
                                    <a href="#" class="text-decoration-none sifa ">FAQs</a>
                                </div>
                                    <div class="dropdown">
                                        <div class="currency-btn">
                                            USD <i class="fa-solid fa-angle-down"></i>
                                        </div>

                                        <ul class="currency-menu">
                                            <li><a href="#">USD</a></li>
                                            <li><a href="#">EUR</a></li>
                                            <li><a href="#">INR</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row  rosw d-flex">
                    <div class="col-lg-3  col-md-3">
                        <div class="header_logo">
                            <a href="">
                                <img src="/RRR/img/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <nav class="header_menu">
                            <ul class="list-unstyled d-flex justify-content-between align-items-center mb-0">

                                <li class="active">
                                    <a href="index.html" class="text-decoration-none">Home</a>
                                </li>

                                <li>
                                    <a href="ecoabout.html" class="text-decoration-none">Shop</a>
                                </li>

                                <li class="menu-item">
                                    <a href="#" class="text-decoration-none">
                                        Pages <i class="fa-solid fa-angle-down"></i>
                                    </a>

                                    <ul class="submenu list-unstyled">
                                        <li><a href="ecoaoutus.html" class="text-decoration-none">About Us</a></li>
                                        <li><a href="ecoshopdetile.html" class="text-decoration-none">Shop Details</a></li>
                                        <li><a href="ecoshoppingcard.html" class="text-decoration-none">Shopping Cart</a></li>
                                        <li><a href="checkaout.html" class="text-decoration-none">Checkout</a></li>
                                        <li><a href="blogdtailes.html" class="text-decoration-none">Blog Details</a></li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="blog.html" class="text-decoration-none">Blog</a>
                                </li>

                                <li>
                                    <a href="contact.html" class="text-decoration-none">Contacts</a>
                                </li>

                            </ul>
                        </nav>
                    </div>
                    <div class="col-lg-3  col-md-3">
                        <div class="header_nav_option">
                            <a href="#" class="sarch_switch"><img src="/RRR/img/search.png" alt=""></a>
                            <a href="#"><img src="/RRR/img/heart.png" alt=""></a>
                            <a href="#"><img src="/RRR/img/cart.png" alt="">
                                <span>0</span></a>
                            <div class="price">$0.00</div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </section>

    <section class="blogsnew " >
        <div class="container">
            <div class="row">
                <div class=" d-flex">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4 bolg_text d-flex align-items-center justify-content-center">
                        <h1 class="oblog">Our Blog
                        </h1>
                    </div>
                    <div class="col-lg-4"></div>
                </div>
                  </div>
                </div>
                   </section>
                   


                   <div class="container">
                    <div class="divas">
                    <div class="flex_div pt-5">
                <div class="col-lg-12 d-flex gap-3">
                    <div class="col-lg-4">
                        <div class="blog-card">
                            <div class="image-wrapper">
                                <img src="/RRR/img/blog-1.jpg" style="width: 100%;" class="img-fluid"
                                    alt="Coffee Latte Art">
                            </div>
                            <div class="card-content">
                                <span class="feb">
                                    <img src="/RRR/img/calendar.png" alt="">
                                    16 February 2020
                                </span>
                                <h5 class="irons">
                                    What Curling Irons Are The Best Ones
                                </h5>
                                <div class="textred">
                                    <a href="" class="readmore">Read More </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog-card">
                            <div class="image-wrapper">
                                <img src="/RRR/img/blog-2.jpg" style="width: 100%;" class="img-fluid"
                                    alt="Coffee Latte Art">
                            </div>
                            <div class="card-content">
                                <span class="feb">
                                    <img src="/RRR/img/calendar.png" alt="">
                                    21 February 2020
                                </span>
                                <h5 class="irons">
                                    Eternity Bands Do Last Forever
                                </h5>
                                <div class="textred">
                                    <a href="" class="readmore">Read More </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog-card">
                            <div class="image-wrapper">
                                <img src="/RRR/img/blog-3.jpg" style="width: 100%;" class="img-fluid"
                                    alt="Coffee Latte Art">
                            </div>
                            <div class="card-content">
                                <span class="feb">
                                    <img src="/RRR/img/calendar.png" alt="">
                                    28 February 2020
                                </span>
                                <h5 class="irons">
                                    The Health Benefits Of Sunglasses
                                </h5>
                                <div class="textred">
                                    <a href="" class="readmore">Read More </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                   
                </div>

                <div class="flex_div pt-3">
                <div class="col-lg-12 d-flex gap-3">
                    <div class="col-lg-4">
                        <div class="blog-card">
                            <div class="image-wrapper">
                                <img src="/RRR/img/blog-4.jpg" style="width: 100%;" class="img-fluid"
                                    alt="Coffee Latte Art">
                            </div>
                            <div class="card-content">
                                <span class="feb">
                                    <img src="/RRR/img/calendar.png" alt="">
                                    16 February 2020
                                </span>
                                <h5 class="irons">
                                   Aiming For Higher The Mastopexy  
                                </h5>
                                <div class="textred">
                                    <a href="" class="readmore">Read More </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog-card">
                            <div class="image-wrapper">
                                <img src="/RRR/img/blog-5.jpg" style="width: 100%;" class="img-fluid"
                                    alt="Coffee Latte Art">
                            </div>
                            <div class="card-content">
                                <span class="feb">
                                    <img src="/RRR/img/calendar.png" alt="">
                                    21 February 2020
                                </span>
                                <h5 class="irons">
                                  Wedding Rings A Gift For A Lifetime
                                </h5>
                                <div class="textred">
                                    <a href="" class="readmore">Read More </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog-card">
                            <div class="image-wrapper">
                                <img src="/RRR/img/blog-6.jpg" style="width: 100%;" class="img-fluid"
                                    alt="Coffee Latte Art">
                            </div>
                            <div class="card-content">
                                <span class="feb">
                                    <img src="/RRR/img/calendar.png" alt="">
                                    28 February 2020
                                </span>
                                <h5 class="irons">
                                    The Health Benefits Of Sunglasses
                                </h5>
                                <div class="textred">
                                    <a href="" class="readmore">Read More </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                   
                </div>


                <div class="flex_div pt-3">
                <div class="col-lg-12 d-flex gap-3">
                    <div class="col-lg-4">
                        <div class="blog-card">
                            <div class="image-wrapper">
                                <img src="/RRR/img/blog-7.jpg" style="width: 100%;" class="img-fluid"
                                    alt="Coffee Latte Art">
                            </div>
                            <div class="card-content">
                                <span class="feb">
                                    <img src="/RRR/img/calendar.png" alt="">
                                    16 February 2020
                                </span>
                                <h5 class="irons">
                                 Hoop Earrings A Style From History
                                </h5>
                                <div class="textred">
                                    <a href="" class="readmore">Read More </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog-card">
                            <div class="image-wrapper">
                                <img src="/RRR/img/blog-8.jpg" style="width: 100%;" class="img-fluid"
                                    alt="Coffee Latte Art">
                            </div>
                            <div class="card-content">
                                <span class="feb">
                                    <img src="/RRR/img/calendar.png" alt="">
                                    21 February 2020
                                </span>
                                <h5 class="irons">
                                   Lasik Eye Surgery Are You Ready
                                </h5>
                                <div class="textred">
                                    <a href="" class="readmore">Read More </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog-card">
                            <div class="image-wrapper">
                                <img src="/RRR/img/blog-9.jpg" style="width: 100%;" class="img-fluid"
                                    alt="Coffee Latte Art">
                            </div>
                            <div class="card-content">
                                <span class="feb">
                                    <img src="/RRR/img/calendar.png" alt="">
                                    28 February 2020
                                </span>
                                <h5 class="irons">
                                   Lasik Eye Surgery Are You Ready
                                </h5>
                                <div class="textred">
                                    <a href="" class="readmore">Read More </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                   
                </div>
                </div>
        </div>
        
   

     
 <footer class="site-footer">
        <div class="footer-container">
            <div class="footer-row">

                <!-- Brand Column -->
                <div class="footer-col">
                    <div class="brand-title"><img src="/RRR/img/footer-logo.png" alt=""></div>
                    <p>The customer is at the heart of our unique business model, which includes design.</p>
                    <div class="payment-methods">
                        <!-- Standard placeholder payment graphics -->
                        <img src="/RRR/img/payment.png" alt="">
                    </div>
                </div>

                <!-- Shopping Links Column -->
                <div class="footer-col">
                    <h3>Shopping</h3>
                    <ul>
                        <li><a href="#">Clothing Store</a></li>
                        <li><a href="#">Trending Shoes</a></li>
                        <li><a href="#">Accessories</a></li>
                        <li><a href="#">Sale</a></li>
                    </ul>
                </div>

                <!-- Support Links Column -->
                <div class="footer-col">
                    <h3>Support</h3>
                    <ul>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Payment Methods</a></li>
                        <li><a href="#">Delivery</a></li>
                        <li><a href="#">Return & Exchanges</a></li>
                    </ul>
                </div>

                <!-- Newsletter Column -->
                <div class="footer-col">
                    <h3>Newsletter</h3>
                    <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                    <form class="newsletter-form" action="#" method="POST">
                        <input type="email" placeholder="Your email" required>
                        <button type="submit" aria-label="Subscribe">
                            <i class="fa-regular fa-envelope"></i>
                        </button>
                    </form>
                </div>

            </div>

            <hr class="footer-divider">

            <!-- Copyright Bar -->
            <div class="footer-bottom">
                <p>Copyright © 2026 All rights reserved | This template is made with <i class="fa-solid fa-heart"></i>
                    by <a href="https://colorlib.com" target="_blank" rel="noopener">Colorlib</a></p>
            </div>
        </div>
    </footer>
   








    <script src="/RRR/js2/jquery-3.7.1.min.js"></script>
    <script src="/RRR/js/bootstrap.bundle.js"></script>
</body>

 <!-- pages menu -->
    <script>
        $(document).ready(function () {

            $(".menu-item").hover(
                function () {
                    $(this).addClass("active");
                },
                function () {
                    $(this).removeClass("active");
                }
            );

        });
    </script>

<script>
$(document).ready(function () {

    $(".currency-btn").click(function (e) {
        e.stopPropagation();
        $(".currency-menu").slideToggle(300);
    });

    $(document).click(function () {
        $(".currency-menu").slideUp(300);
    });

});
</script>
</html>