<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="stylesheet" href="./ecome.css">
    <link rel="stylesheet" href="/RRR/webfonts/fa-brands-400.ttf">
    <link rel="stylesheet" href="/RRR/css/all.css">
    <link rel="stylesheet" href="/RRR/css/bootstrap.min.css">
</head>

<body>


    <section class="sec_1">
        <header class="header">
            <div class="top_header">
                <div class="container">
                    <div class="row d-flex align-items-center">
                        <div class="col-lg-6 col-md-7 d-flex align-items-center ">
                            <div class="heder_top_left ">
                                <p class="">Free shipping, 30-day return or refund guarantee.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-5">
                            <div class="header_top_right d-flex justify-content-end  ">
                                <div class="header_top_link">
                                    <a href="#" class="text-decoration-none sifa mx-3">Sign in</a>
                                    <a href="#" class="text-decoration-none sifa ">FAQs</a>
                                </div>
                                    <div class="dropdown">
                                        <div class="currency-btn">
                                            USD <i class="fa-solid fa-angle-down"></i>
                                        </div>

                                        <ul class="currency-menu">
                                            <li><a href="#">USD</a></li>
                                            <li><a href="#">EUR</a></li>
                                            <li><a href="#">INR</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row  rosw d-flex">
                    <div class="col-lg-3  col-md-3">
                        <div class="header_logo">
                            <a href="">
                                <img src="/RRR/img/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <nav class="header_menu">
                            <ul class="list-unstyled d-flex justify-content-between align-items-center mb-0">

                                <li class="active">
                                    <a href="index.html" class="text-decoration-none">Home</a>
                                </li>

                                <li>
                                    <a href="ecoabout.html" class="text-decoration-none">Shop</a>
                                </li>

                                <li class="menu-item">
                                    <a href="#" class="text-decoration-none">
                                        Pages <i class="fa-solid fa-angle-down"></i>
                                    </a>

                                    <ul class="submenu list-unstyled">
                                        <li><a href="ecoaoutus.html" class="text-decoration-none">About Us</a></li>
                                        <li><a href="ecoshopdetile.html" class="text-decoration-none">Shop Details</a></li>
                                        <li><a href="ecoshoppingcard.html" class="text-decoration-none">Shopping Cart</a></li>
                                        <li><a href="checkaout.html" class="text-decoration-none">Checkout</a></li>
                                        <li><a href="blogdtailes.html" class="text-decoration-none">Blog Details</a></li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="blog.html" class="text-decoration-none">Blog</a>
                                </li>

                                <li>
                                    <a href="contact.html" class="text-decoration-none">Contacts</a>
                                </li>

                            </ul>
                        </nav>
                    </div>
                    <div class="col-lg-3  col-md-3">
                        <div class="header_nav_option">
                            <a href="#" class="sarch_switch"><img src="/RRR/img/search.png" alt=""></a>
                            <a href="#"><img src="/RRR/img/heart.png" alt=""></a>
                            <a href="#"><img src="/RRR/img/cart.png" alt="">
                                <span>0</span></a>
                            <div class="price">$0.00</div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </section>

    <section class="sp_option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="sp_text">
                        <h4 class="shpps">About Us</h4>
                    </div>
                    <div class="sp_link">
                        <a href="" class="text-decoration-none links">Home<span><i
                                    class="fa-solid fa-angle-right"></i></span></i></a>
                        <span class="dubspan">About Us</span>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <section class="about sped">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="abot_pic">
                        <img src="/RRR/img/about-us.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="row d-flex">
                <div class="col-lg-4 col-md-4">
                    <div class="about_itm">
                        <h4 class="were">Who We Are ?</h4>
                        <p class="goole">Contextual advertising programs sometimes have strict policies that need to be
                            adhered too.
                            Let’s take Google as an example.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="about_itm">
                        <h4 class="were">Who We Do ?</h4>
                        <p class="goole">In this digital generation where information can be easily obtained within
                            seconds, business
                            cards still have retained their importance.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="about_itm">
                        <h4 class="were">Why Choose Us</h4>
                        <p class="goole">A two or three storey house is the ideal way to maximise the piece of earth on
                            which our home
                            sits, but for older or infirm people.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="sped_2">
        <div class="container-fluid">
            <div class="row d-flex">
                <div class="col-lg-6">
                    <div class="testimonial">
                        <div class="testimonial-container">
                            <div class="quote-mark">”</div>

                            <p class="quote-text">
                                “Going out after work? Take your butane curling iron with you to the office, heat it up,
                                style your hair before you leave the office and you won’t have to make a trip back
                                home.”
                            </p>

                            <div class="profile-section">
                                <img src="/RRR/img/testimonial-author.jpg" alt="Augusta Schultz" class="profile-img">
                                <div class="profile-info">
                                    <h3 class="name">Augusta Schultz</h3>
                                    <p class="role">Fashion Design</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="testong_pic">
                        <img src="/RRR/img/testimonial-pic.jpg" style="height:583px ;" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="counter_spend">
        <div class="container">
            <div class="row">
                <div class="stats-container">

                    <div class="stat-item">
                        <span class="stat-number">102</span>
                        <span class="stat-label">Our<br>Clients</span>
                    </div>

                    <div class="stat-item">
                        <span class="stat-number">30</span>
                        <span class="stat-label">Total<br>Categories</span>
                    </div>

                    <div class="stat-item">
                        <span class="stat-number">102</span>
                        <span class="stat-label">In<br>Country</span>
                    </div>

                    <div class="stat-item">
                        <span class="stat-number">98%</span>
                        <span class="stat-label">Happy<br>Customer</span>
                    </div>

                </div>
            </div>
        </div>
    </section>


    <section class="tean_spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section_title">
                        <span class="text_hero ">Our Team</span>
                        <h2 class="meettame">Meet Our Team</h2>
                    </div>
                </div>
            </div>
            <div class="row d-flex mt-5">
                <div class="col-lg-3 col-md-3">
                    <img src="/RRR/img/team-1.jpg" alt="">
                    <h2 class="johan">John Smith</h2>
                    <span class="desing">Fashion Design</span>
                </div>

                <div class="col-lg-3 col-md-3">
                    <img src="/RRR/img/team-2.jpg" alt="">
                    <h2 class="johan">Christine Wise</h2>
                    <span class="desing">C.E.O</span>
                </div>

                <div class="col-lg-3 col-md-3">
                    <img src="/RRR/img/team-3.jpg" alt="">
                    <h2 class="johan">Sean Robbinsh</h2>
                    <span class="desing">Manager</span>
                </div>

                <div class="col-lg-3 col-md-3">
                    <img src="/RRR/img/team-4.jpg" alt="">
                    <h2 class="johan">Lucy Myers</h2>
                    <span class="desing">Delivery</span>
                </div>
            </div>
        </div>
    </section>


    <section class="Clients_spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section_title">
                        <span class="text_hero ">Partner</span>
                        <h2 class="meettame">Happy Clients</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="clint1 ">
                    <div class="col-lg-3 col-md-3">
                    <div class="clinet_itm">
                        <img src="/RRR/img/client-1.png" alt="">
                    </div>
                    </div>

                    <div class="col-lg-3 col-md-3">
                    <div class="clinet_itm">
                        <img src="/RRR/img/client-2.png" alt="">
                    </div>
                    </div>

                    <div class="col-lg-3 col-md-3">
                    <div class="clinet_itm">
                        <img src="/RRR/img/client-3.png" alt="">
                    </div>
                    </div>

                    <div class="col-lg-3 col-md-3">
                    <div class="clinet_itm">
                        <img src="/RRR/img/client-4.png" alt="">
                    </div>
                    </div>
                </div>


                <div class="clint2 d-flex" style="margin-top: 50px;">
                     <div class="col-lg-3 col-md-3">
                    <div class="clinet_itm">
                        <img src="/RRR/img/client-5.png" alt="">
                    </div>
                    </div>

                    <div class="col-lg-3 col-md-3">
                    <div class="clinet_itm">
                        <img src="/RRR/img/client-6.png" alt="">
                    </div>
                    </div>

                    <div class="col-lg-3 col-md-3">
                    <div class="clinet_itm">
                        <img src="/RRR/img/client-7.png" alt="">
                    </div>
                    </div>

                    <div class="col-lg-3 col-md-3">
                    <div class="clinet_itm">
                        <img src="/RRR/img/client-8.png" alt="">
                    </div>
                    </div>
                </div>
            </div>
    </section>


      <footer class="site-footer">
        <div class="footer-container">
            <div class="footer-row">

                <!-- Brand Column -->
                <div class="footer-col">
                    <div class="brand-title"><img src="/RRR/img/footer-logo.png" alt=""></div>
                    <p>The customer is at the heart of our unique business model, which includes design.</p>
                    <div class="payment-methods">
                        <!-- Standard placeholder payment graphics -->
                        <img src="/RRR/img/payment.png" alt="">
                    </div>
                </div>

                <!-- Shopping Links Column -->
                <div class="footer-col">
                    <h3>Shopping</h3>
                    <ul>
                        <li><a href="#">Clothing Store</a></li>
                        <li><a href="#">Trending Shoes</a></li>
                        <li><a href="#">Accessories</a></li>
                        <li><a href="#">Sale</a></li>
                    </ul>
                </div>

                <!-- Support Links Column -->
                <div class="footer-col">
                    <h3>Support</h3>
                    <ul>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Payment Methods</a></li>
                        <li><a href="#">Delivery</a></li>
                        <li><a href="#">Return & Exchanges</a></li>
                    </ul>
                </div>

                <!-- Newsletter Column -->
                <div class="footer-col">
                    <h3>Newsletter</h3>
                    <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                    <form class="newsletter-form" action="#" method="POST">
                        <input type="email" placeholder="Your email" required>
                        <button type="submit" aria-label="Subscribe">
                            <i class="fa-regular fa-envelope"></i>
                        </button>
                    </form>
                </div>

            </div>

            <hr class="footer-divider">

            <!-- Copyright Bar -->
            <div class="footer-bottom">
                <p>Copyright © 2026 All rights reserved | This template is made with <i class="fa-solid fa-heart"></i>
                    by <a href="https://colorlib.com" target="_blank" rel="noopener">Colorlib</a></p>
            </div>
        </div>
    </footer>





    <script src="/RRR/js/bootstrap.bundle.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

  <!-- pages menu -->
    <script>
        $(document).ready(function () {

            $(".menu-item").hover(
                function () {
                    $(this).addClass("active");
                },
                function () {
                    $(this).removeClass("active");
                }
            );

        });
    </script>

<script>
$(document).ready(function () {

    $(".currency-btn").click(function (e) {
        e.stopPropagation();
        $(".currency-menu").slideToggle(300);
    });

    $(document).click(function () {
        $(".currency-menu").slideUp(300);
    });

});
</script>
</body>

</html>