<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link rel="stylesheet" href="./ecome.css">
    <link rel="stylesheet" href="/RRR/webfonts/fa-brands-400.ttf">
    <link rel="stylesheet" href="/RRR/css/all.css">
    <link rel="stylesheet" href="/RRR/css/bootstrap.min.css">
</head>

<body>
 <section class="sec_1">
        <header class="header">
            <div class="top_header">
                <div class="container">
                    <div class="row d-flex align-items-center">
                        <div class="col-lg-6 col-md-7 d-flex align-items-center ">
                            <div class="heder_top_left ">
                                <p class="">Free shipping, 30-day return or refund guarantee.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-5">
                            <div class="header_top_right d-flex justify-content-end  ">
                                <div class="header_top_link">
                                    <a href="#" class="text-decoration-none sifa mx-3">Sign in</a>
                                    <a href="#" class="text-decoration-none sifa ">FAQs</a>
                                </div>
                                    <div class="dropdown">
                                        <div class="currency-btn">
                                            USD <i class="fa-solid fa-angle-down"></i>
                                        </div>

                                        <ul class="currency-menu">
                                            <li><a href="#">USD</a></li>
                                            <li><a href="#">EUR</a></li>
                                            <li><a href="#">INR</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row  rosw d-flex">
                    <div class="col-lg-3  col-md-3">
                        <div class="header_logo">
                            <a href="">
                                <img src="/RRR/img/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <nav class="header_menu">
                            <ul class="list-unstyled d-flex justify-content-between align-items-center mb-0">

                                <li class="active">
                                    <a href="index.html" class="text-decoration-none">Home</a>
                                </li>

                                <li>
                                    <a href="ecoabout.html" class="text-decoration-none">Shop</a>
                                </li>

                                <li class="menu-item">
                                    <a href="#" class="text-decoration-none">
                                        Pages <i class="fa-solid fa-angle-down"></i>
                                    </a>

                                    <ul class="submenu list-unstyled">
                                        <li><a href="ecoaoutus.html" class="text-decoration-none">About Us</a></li>
                                        <li><a href="ecoshopdetile.html" class="text-decoration-none">Shop Details</a></li>
                                        <li><a href="ecoshoppingcard.html" class="text-decoration-none">Shopping Cart</a></li>
                                        <li><a href="checkaout.html" class="text-decoration-none">Checkout</a></li>
                                        <li><a href="blogdtailes.html" class="text-decoration-none">Blog Details</a></li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="blog.html" class="text-decoration-none">Blog</a>
                                </li>

                                <li>
                                    <a href="contact.html" class="text-decoration-none">Contacts</a>
                                </li>

                            </ul>
                        </nav>
                    </div>
                    <div class="col-lg-3  col-md-3">
                        <div class="header_nav_option">
                            <a href="#" class="sarch_switch"><img src="/RRR/img/search.png" alt=""></a>
                            <a href="#"><img src="/RRR/img/heart.png" alt=""></a>
                            <a href="#"><img src="/RRR/img/cart.png" alt="">
                                <span>0</span></a>
                            <div class="price">$0.00</div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </section>

    <section class="sp_option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="sp_text">
                        <h4 class="shpps">Shop</h4>
                    </div>
                    <div class="sp_link">
                        <a href="" class="text-decoration-none links">Home<span><i
                                    class="fa-solid fa-angle-right"></i></span></i></a>
                        <span class="dubspan">Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="shop_spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div style="position: relative; width: 250px;">
                        <input type="text" placeholder="Search..."
                            style="width: 100%; padding: 10px 35px 10px 10px; border: 1px solid #e0e0e0; box-sizing: border-box; outline: none; font-size: 14px;">
                        <span
                            style="position: absolute; right: 12px; top: 50%; transform: translateY(-50%); color: #ccc; font-size: 16px; font-family: sans-serif; cursor: pointer;"><i
                                class="fa-solid fa-magnifying-glass"></i></span>
                    </div>

                    <div class="filter-sidebar">
                        <div class="category-header">
                            <span class="header-title">CATEGORIES</span>
                            <span class="header-arrow">
                                <i class="fa-solid fa-caret-down" style="margin-right: -17px;"></i>
                            </span>
                        </div>

                        <ul class="category-list">
                            <li class="category-item"><span class="name">Men</span> <span class="count">(20)</span></li>
                            <li class="category-item"><span class="name">Women</span> <span class="count">(20)</span>
                            </li>
                            <li class="category-item"><span class="name">Bags</span> <span class="count">(20)</span>
                            </li>
                            <li class="category-item"><span class="name">Clothing</span> <span class="count">(20)</span>
                            </li>
                            <li class="category-item"><span class="name">Shoes</span> <span class="count">(20)</span>
                            </li>
                            <li class="category-item"><span class="name">Accessories</span> <span
                                    class="count">(20)</span></li>
                            <li class="category-item"><span class="name">Kids</span> <span class="count">(20)</span>
                            </li>
                        </ul>
                    </div>


                    <div class="filter-sidebar">
                        <div class="brandig-header">
                            <span class="header-title">BRANDING</span>
                            <span class="header-arrow">
                                <i class="fa-solid fa-caret-down" style="margin-right: -17px;"></i>
                            </span>
                        </div>

                        <ul class="branding-list list-unstyled">
                            <li class="branding-item">Louis Vuitton</li>
                            <li class="branding-item">Chanel</li>
                            <li class="branding-item">Hermes</li>
                            <li class="branding-item">Gucci</li>
                        </ul>
                    </div>



                    <div class="filter-sidebar">
                        <div class="brandig-header">
                            <span class="header-title">FILTER PRICE</span>
                            <span class="header-arrow">
                                <i class="fa-solid fa-caret-down" style="margin-right: -17px;"></i>
                            </span>
                        </div>

                        <ul class="branding-list list-unstyled">
                            <li class="branding-item">$0.00 - $50.00</li>
                            <li class="branding-item">$50.00 - $100.00</li>
                            <li class="branding-item">$100.00 - $150.00</li>
                            <li class="branding-item">$150.00 - $200.00</li>
                            <li class="branding-item">$200.00 - $250.00</li>
                            <li class="branding-item">250.00+</li>
                        </ul>
                    </div>

                    <div class=" size_fill">
                        <div class="brandig-header">
                            <span class="header-title">SIZE</span>
                            <span class="header-arrow">
                                <i class="fa-solid fa-caret-down"></i>
                            </span>
                        </div>

                        <div class="size-grid">
                            <button class="size-btn">XS</button>
                            <button class="size-btn">S</button>
                            <button class="size-btn">M</button>
                            <button class="size-btn">L</button>
                            <button class="size-btn">XL</button>
                            <button class="size-btn">XXL</button>
                            <button class="size-btn">3XL</button>
                            <button class="size-btn">4XL</button>
                        </div>
                    </div>


                    <div class="color-filter-container">
                        <div class="brandig-header">
                            <span class="header-title">COLOR</span>
                            <span class="header-arrow">
                                <i class="fa-solid fa-caret-down" style="margin-right: -14px;"></i>
                            </span>
                        </div>

                        <div class="color-options">

                            <label class="color-item">
                                <input type="radio" name="color-filter" value="black">
                                <span class="color-circle" style="background-color: #000000;"></span>
                            </label>


                            <label class="color-item">
                                <input type="radio" name="color-filter" value="navy">
                                <span class="color-circle" style="background-color: #1A2E5A;"></span>
                            </label>


                            <label class="color-item">
                                <input type="radio" name="color-filter" value="yellow">
                                <span class="color-circle" style="background-color: #F3A83B;"></span>
                            </label>

                            <label class="color-item">
                                <input type="radio" name="color-filter" value="grey">
                                <span class="color-circle" style="background-color: #707070;"></span>
                            </label>

                            <label class="color-item">
                                <input type="radio" name="color-filter" value="olive">
                                <span class="color-circle" style="background-color: #4A5343;"></span>
                            </label>

                            <label class="color-item">
                                <input type="radio" name="color-filter" value="pink">
                                <span class="color-circle" style="background-color: #F3B0C3;"></span>
                            </label>

                            <label class="color-item">
                                <input type="radio" name="color-filter" value="lavender">
                                <span class="color-circle" style="background-color: #C3BED7;"></span>
                            </label>


                            <label class="color-item">
                                <input type="radio" name="color-filter" value="red">
                                <span class="color-circle" style="background-color: #E61A22;"></span>
                            </label>

                            <label class="color-item">
                                <input type="radio" name="color-filter" value="white">
                                <span class="color-circle white-circle" style="background-color: #FFFFFF;"></span>
                            </label>
                        </div>
                    </div>



                    <div class="filter-group">
                        <div class="brandig-header">
                            <span class="header-title">TAGS</span>
                            <span class="header-arrow">
                                <i class="fa-solid fa-caret-down"></i>
                            </span>
                        </div>
                        <div class="tag-grid">
                            <button class="tag-btn">Product</button>
                            <button class="tag-btn">Bags</button>
                            <button class="tag-btn">Shoes</button>
                            <button class="tag-btn">Fashio</button>
                            <button class="tag-btn">Clothing</button>
                            <button class="tag-btn">Hats</button>
                            <button class="tag-btn full-width">Accessories</button>
                        </div>
                    </div>



                </div>

                <div class="col-lg-9">
                    <div class="products_options">
                        <div class="row d-flex">
                            <div class="col-lg-6">
                                <div class="shop_left">
                                    <p>Showing 1–12 of 126 results</p>
                                </div>
                            </div>
                            <div class="col-lg-6">

                                <div class="filter-container">
                                    <!-- Main Dropdown Trigger Button -->
                                    <button class="dropdown-trigger" id="dropdownBtn">
                                        Sort by Price: <span>Low To High</span>
                                        <svg class="arrow-icon" width="10" height="6" viewBox="0 0 10 6" fill="none"
                                            xmlns="http://w3.org">
                                            <path d="M1 5L5 1L9 5" stroke="#333" stroke-width="1.5"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </button>


                                    <ul class="dropdown-menu" id="dropdownMenu">
                                        <li class="menu-item active">Low To High</li>
                                        <li class="menu-item">$0 - $55</li>
                                        <li class="menu-item">$55 - $100</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-lg-12 mt-4">
                            <div class="producsion d-flex">
                                <div class="col-lg-4">
                                    <div class="cards">
                                        <div class="card_imgs">
                                            <img src="/RRR/img/product-2.jpg" alt="">
                                        </div>

                                        <ul class="list-unstyled product_hover">
                                            <li><a href="#"><img src="/RRR/img/heart.png" alt=""></a></li>
                                            <li><a href="#"><img src="/RRR/img/compare.png" alt=""></a></li>
                                            <li><a href="#"><img src="/RRR/img/search.png" alt=""></a></li>
                                        </ul>
                                    </div>
                                    <div class="product_text">
                                        <h6>Ankle Boots</h6>
                                        <a href="#" class="add_card">Add To Cart</a>
                                        <div class="reting">
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                        </div>
                                        <h5 class="dolor">$67.24</h5>
                                        <div class="product_selecion">
                                            <label class="color-btn white">
                                                <input type="radio" name="color1" checked>
                                            </label>

                                            <label class="color-btn black">
                                                <input type="radio" name="color1">
                                            </label>

                                            <label class="color-btn grey">
                                                <input type="radio" name="color1">
                                            </label>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-lg-4">
                                    <div class="cards">
                                        <div class="card_imgs">
                                            <img src="/RRR/img/product-3.jpg" alt="">
                                            <span class="newlabale">NEW</span>
                                        </div>

                                        <ul class="list-unstyled product_hover">
                                            <li><a href="#"><img src="/RRR/img/heart.png" alt=""></a></li>
                                            <li><a href="#"><img src="/RRR/img/compare.png" alt=""></a></li>
                                            <li><a href="#"><img src="/RRR/img/search.png" alt=""></a></li>
                                        </ul>
                                    </div>
                                    <div class="product_text">
                                        <h6>Ankle Boots</h6>
                                        <a href="#" class="add_card">Add To Cart</a>
                                        <div class="reting">
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                        </div>
                                        <h5 class="dolor">$67.24</h5>
                                        <div class="product_selecion">
                                            <label class="color-btn white">
                                                <input type="radio" name="color1" checked>
                                            </label>

                                            <label class="color-btn black">
                                                <input type="radio" name="color1">
                                            </label>

                                            <label class="color-btn grey">
                                                <input type="radio" name="color1">
                                            </label>
                                        </div>
                                    </div>

                                </div>



                                <div class="col-lg-4">
                                    <div class="cards">
                                        <div class="card_imgs">
                                            <img src="/RRR/img/product-4.jpg" alt="">

                                        </div>

                                        <ul class="list-unstyled product_hover">
                                            <li><a href="#"><img src="/RRR/img/heart.png" alt=""></a></li>
                                            <li><a href="#"><img src="/RRR/img/compare.png" alt=""></a></li>
                                            <li><a href="#"><img src="/RRR/img/search.png" alt=""></a></li>
                                        </ul>
                                    </div>
                                    <div class="product_text">
                                        <h6>Ankle Boots</h6>
                                        <a href="#" class="add_card">Add To Cart</a>
                                        <div class="reting">
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                        </div>
                                        <h5 class="dolor">$67.24</h5>
                                        <div class="product_selecion">
                                            <label class="color-btn white">
                                                <input type="radio" name="color1" checked>
                                            </label>

                                            <label class="color-btn black">
                                                <input type="radio" name="color1">
                                            </label>

                                            <label class="color-btn grey">
                                                <input type="radio" name="color1">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="production_3 d-flex">
                                <div class="col-lg-4">
                                    <div class="cards">
                                        <div class="card_imgs">
                                            <img src="/RRR/img/product-9.jpg" alt="">
                                            <span class="newlabale">NEW</span>
                                        </div>

                                        <ul class="list-unstyled product_hover">
                                            <li><a href="#"><img src="/RRR/img/heart.png" alt=""></a></li>
                                            <li><a href="#"><img src="/RRR/img/compare.png" alt=""></a></li>
                                            <li><a href="#"><img src="/RRR/img/search.png" alt=""></a></li>
                                        </ul>
                                    </div>
                                    <div class="product_text">
                                        <h6>Ankle Boots</h6>
                                        <a href="#" class="add_card">Add To Cart</a>
                                        <div class="reting">
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                        </div>
                                        <h5 class="dolor">$67.24</h5>
                                        <div class="product_selecion">
                                            <label class="color-btn white">
                                                <input type="radio" name="color1" checked>
                                            </label>

                                            <label class="color-btn black">
                                                <input type="radio" name="color1">
                                            </label>

                                            <label class="color-btn grey">
                                                <input type="radio" name="color1">
                                            </label>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-lg-4">
                                    <div class="cards">
                                        <div class="card_imgs">
                                            <img src="/RRR/img/product-10.jpg" alt="">

                                        </div>

                                        <ul class="list-unstyled product_hover">
                                            <li><a href="#"><img src="/RRR/img/heart.png" alt=""></a></li>
                                            <li><a href="#"><img src="/RRR/img/compare.png" alt=""></a></li>
                                            <li><a href="#"><img src="/RRR/img/search.png" alt=""></a></li>
                                        </ul>
                                    </div>
                                    <div class="product_text">
                                        <h6>Ankle Boots</h6>
                                        <a href="#" class="add_card">Add To Cart</a>
                                        <div class="reting">
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                        </div>
                                        <h5 class="dolor">$67.24</h5>
                                        <div class="product_selecion">
                                            <label class="color-btn white">
                                                <input type="radio" name="color1" checked>
                                            </label>

                                            <label class="color-btn black">
                                                <input type="radio" name="color1">
                                            </label>

                                            <label class="color-btn grey">
                                                <input type="radio" name="color1">
                                            </label>
                                        </div>
                                    </div>

                                </div>



                                <div class="col-lg-4">
                                    <div class="cards">
                                        <div class="card_imgs">
                                            <img src="/RRR/img/product-11.jpg" alt="">
                                        </div>

                                        <ul class="list-unstyled product_hover">
                                            <li><a href="#"><img src="/RRR/img/heart.png" alt=""></a></li>
                                            <li><a href="#"><img src="/RRR/img/compare.png" alt=""></a></li>
                                            <li><a href="#"><img src="/RRR/img/search.png" alt=""></a></li>
                                        </ul>
                                    </div>
                                    <div class="product_text">
                                        <h6>Ankle Boots</h6>
                                        <a href="#" class="add_card">Add To Cart</a>
                                        <div class="reting">
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                        </div>
                                        <h5 class="dolor">$67.24</h5>
                                        <div class="product_selecion">
                                            <label class="color-btn white">
                                                <input type="radio" name="color1" checked>
                                            </label>

                                            <label class="color-btn black">
                                                <input type="radio" name="color1">
                                            </label>

                                            <label class="color-btn grey">
                                                <input type="radio" name="color1">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="production_2 d-flex">
                                <div class="col-lg-4">
                                    <div class="cards">
                                        <div class="card_imgs">
                                            <img src="/RRR/img/product-6.jpg" alt="">
                                            <span class="newlabale">NEW</span>
                                        </div>

                                        <ul class="list-unstyled product_hover">
                                            <li><a href="#"><img src="/RRR/img/heart.png" alt=""></a></li>
                                            <li><a href="#"><img src="/RRR/img/compare.png" alt=""></a></li>
                                            <li><a href="#"><img src="/RRR/img/search.png" alt=""></a></li>
                                        </ul>
                                    </div>
                                    <div class="product_text">
                                        <h6>Ankle Boots</h6>
                                        <a href="#" class="add_card">Add To Cart</a>
                                        <div class="reting">
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                        </div>
                                        <h5 class="dolor">$67.24</h5>
                                        <div class="product_selecion">
                                            <label class="color-btn white">
                                                <input type="radio" name="color1" checked>
                                            </label>

                                            <label class="color-btn black">
                                                <input type="radio" name="color1">
                                            </label>

                                            <label class="color-btn grey">
                                                <input type="radio" name="color1">
                                            </label>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-lg-4">
                                    <div class="cards">
                                        <div class="card_imgs">
                                            <img src="/RRR/img/product-7.jpg" alt="">

                                        </div>

                                        <ul class="list-unstyled product_hover">
                                            <li><a href="#"><img src="/RRR/img/heart.png" alt=""></a></li>
                                            <li><a href="#"><img src="/RRR/img/compare.png" alt=""></a></li>
                                            <li><a href="#"><img src="/RRR/img/search.png" alt=""></a></li>
                                        </ul>
                                    </div>
                                    <div class="product_text">
                                        <h6>Ankle Boots</h6>
                                        <a href="#" class="add_card">Add To Cart</a>
                                        <div class="reting">
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                        </div>
                                        <h5 class="dolor">$67.24</h5>
                                        <div class="product_selecion">
                                            <label class="color-btn white">
                                                <input type="radio" name="color1" checked>
                                            </label>

                                            <label class="color-btn black">
                                                <input type="radio" name="color1">
                                            </label>

                                            <label class="color-btn grey">
                                                <input type="radio" name="color1">
                                            </label>
                                        </div>
                                    </div>

                                </div>



                                <div class="col-lg-4">
                                    <div class="cards">
                                        <div class="card_imgs">
                                            <img src="/RRR/img/product-8.jpg" alt="">
                                        </div>

                                        <ul class="list-unstyled product_hover">
                                            <li><a href="#"><img src="/RRR/img/heart.png" alt=""></a></li>
                                            <li><a href="#"><img src="/RRR/img/compare.png" alt=""></a></li>
                                            <li><a href="#"><img src="/RRR/img/search.png" alt=""></a></li>
                                        </ul>
                                    </div>
                                    <div class="product_text">
                                        <h6>Ankle Boots</h6>
                                        <a href="#" class="add_card">Add To Cart</a>
                                        <div class="reting">
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                        </div>
                                        <h5 class="dolor">$67.24</h5>
                                        <div class="product_selecion">
                                            <label class="color-btn white">
                                                <input type="radio" name="color1" checked>
                                            </label>

                                            <label class="color-btn black">
                                                <input type="radio" name="color1">
                                            </label>

                                            <label class="color-btn grey">
                                                <input type="radio" name="color1">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="production_4 d-flex">
                                <div class="col-lg-4">
                                    <div class="cards">
                                        <div class="card_imgs">
                                            <img src="/RRR/img/product-12.jpg" alt="">
                                            <span class="newlabale">NEW</span>
                                        </div>

                                        <ul class="list-unstyled product_hover">
                                            <li><a href="#"><img src="/RRR/img/heart.png" alt=""></a></li>
                                            <li><a href="#"><img src="/RRR/img/compare.png" alt=""></a></li>
                                            <li><a href="#"><img src="/RRR/img/search.png" alt=""></a></li>
                                        </ul>
                                    </div>
                                    <div class="product_text">
                                        <h6>Ankle Boots</h6>
                                        <a href="#" class="add_card">Add To Cart</a>
                                        <div class="reting">
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                        </div>
                                        <h5 class="dolor">$67.24</h5>
                                        <div class="product_selecion">
                                            <label class="color-btn white">
                                                <input type="radio" name="color1" checked>
                                            </label>

                                            <label class="color-btn black">
                                                <input type="radio" name="color1">
                                            </label>

                                            <label class="color-btn grey">
                                                <input type="radio" name="color1">
                                            </label>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-lg-4">
                                    <div class="cards">
                                        <div class="card_imgs">
                                            <img src="/RRR/img/product-13.jpg" alt="">

                                        </div>

                                        <ul class="list-unstyled product_hover">
                                            <li><a href="#"><img src="/RRR/img/heart.png" alt=""></a></li>
                                            <li><a href="#"><img src="/RRR/img/compare.png" alt=""></a></li>
                                            <li><a href="#"><img src="/RRR/img/search.png" alt=""></a></li>
                                        </ul>
                                    </div>
                                    <div class="product_text">
                                        <h6>Ankle Boots</h6>
                                        <a href="#" class="add_card">Add To Cart</a>
                                        <div class="reting">
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                        </div>
                                        <h5 class="dolor">$67.24</h5>
                                        <div class="product_selecion">
                                            <label class="color-btn white">
                                                <input type="radio" name="color1" checked>
                                            </label>

                                            <label class="color-btn black">
                                                <input type="radio" name="color1">
                                            </label>

                                            <label class="color-btn grey">
                                                <input type="radio" name="color1">
                                            </label>
                                        </div>
                                    </div>

                                </div>



                                <div class="col-lg-4">
                                    <div class="cards">
                                        <div class="card_imgs">
                                            <img src="/RRR/img/product-14.jpg" alt="">
                                        </div>

                                        <ul class="list-unstyled product_hover">
                                            <li><a href="#"><img src="/RRR/img/heart.png" alt=""></a></li>
                                            <li><a href="#"><img src="/RRR/img/compare.png" alt=""></a></li>
                                            <li><a href="#"><img src="/RRR/img/search.png" alt=""></a></li>
                                        </ul>
                                    </div>
                                    <div class="product_text">
                                        <h6>Ankle Boots</h6>
                                        <a href="#" class="add_card">Add To Cart</a>
                                        <div class="reting">
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                        </div>
                                        <h5 class="dolor">$67.24</h5>
                                        <div class="product_selecion">
                                            <label class="color-btn white">
                                                <input type="radio" name="color1" checked>
                                            </label>

                                            <label class="color-btn black">
                                                <input type="radio" name="color1">
                                            </label>

                                            <label class="color-btn grey">
                                                <input type="radio" name="color1">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="pagination-container">
                                <ul class="pagination" style="padding: 10px 30px 10px 30px;">
                                    <li class="page-item "><a href="#" style="color: black;" class="page-link">1</a>
                                    </li>
                                    <li class="page-item"><a href="#" style="color: black;" class="page-link">2</a></li>
                                    <li class="page-item"><a href="#" style="color: black;" class="page-link">3</a></li>
                                    <li class="page-item disabled"><span class="page-link"
                                            style="color: black;">...</span></li>
                                    <li class="page-item"><a href="#" class="page-link" style="color: black;">5</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <footer class="site-footer">
        <div class="footer-container">
            <div class="footer-row">

                <!-- Brand Column -->
                <div class="footer-col">
                    <div class="brand-title"><img src="/RRR/img/footer-logo.png" alt=""></div>
                    <p>The customer is at the heart of our unique business model, which includes design.</p>
                    <div class="payment-methods">
                        <!-- Standard placeholder payment graphics -->
                        <img src="/RRR/img/payment.png" alt="">
                    </div>
                </div>

                <!-- Shopping Links Column -->
                <div class="footer-col">
                    <h3>Shopping</h3>
                    <ul>
                        <li><a href="#">Clothing Store</a></li>
                        <li><a href="#">Trending Shoes</a></li>
                        <li><a href="#">Accessories</a></li>
                        <li><a href="#">Sale</a></li>
                    </ul>
                </div>

                <!-- Support Links Column -->
                <div class="footer-col">
                    <h3>Support</h3>
                    <ul>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Payment Methods</a></li>
                        <li><a href="#">Delivery</a></li>
                        <li><a href="#">Return & Exchanges</a></li>
                    </ul>
                </div>

                <!-- Newsletter Column -->
                <div class="footer-col">
                    <h3>Newsletter</h3>
                    <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                    <form class="newsletter-form" action="#" method="POST">
                        <input type="email" placeholder="Your email" required>
                        <button type="submit" aria-label="Subscribe">
                            <i class="fa-regular fa-envelope"></i>
                        </button>
                    </form>
                </div>

            </div>

            <hr class="footer-divider">

            <!-- Copyright Bar -->
            <div class="footer-bottom">
                <p>Copyright © 2026 All rights reserved | This template is made with <i class="fa-solid fa-heart"></i>
                    by <a href="https://colorlib.com" target="_blank" rel="noopener">Colorlib</a></p>
            </div>
        </div>
    </footer>







    <script src="/RRR/js/bootstrap.bundle.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    



  <!-- pages menu -->
    <script>
        $(document).ready(function () {

            $(".menu-item").hover(
                function () {
                    $(this).addClass("active");
                },
                function () {
                    $(this).removeClass("active");
                }
            );

        });
    </script>

<script>
$(document).ready(function () {

    $(".currency-btn").click(function (e) {
        e.stopPropagation();
        $(".currency-menu").slideToggle(300);
    });

    $(document).click(function () {
        $(".currency-menu").slideUp(300);
    });

});
</script>
    <script>
        $(document).ready(function () {

            $(".category-header").click(function () {

                $(".category-list").slideToggle(300);

                $(".header-arrow").toggleClass("rotate");

            });

        });


        $(document).ready(function () {

            $(".category-header").click(function () {

                $(".category-list").slideToggle(300);

                $(".header-arrow").toggleClass("rotate");

            });

        });
    </script>

    <script>
        document.querySelectorAll('.tag-btn').forEach(btn => {
            btn.addEventListener('click', function () {
                document.querySelectorAll('.tag-btn').forEach(item => {
                    item.classList.remove('active');
                });

                this.classList.add('active');
            });
        });
    </script>


    <script>
        const btn = document.getElementById('dropdownBtn');
        const menu = document.getElementById('dropdownMenu');

        btn.addEventListener('click', () => {
            menu.classList.toggle('show');
            btn.classList.toggle('active');
        });

        // Close menu if clicking outside
        window.addEventListener('click', (e) => {
            if (!btn.contains(e.target) && !menu.contains(e.target)) {
                menu.classList.remove('show');
                btn.classList.remove('active');
            }
        });
    </script>



</body>

</html>