<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop etaile</title>
    <link rel="stylesheet" href="ecome.css">
    <link rel="stylesheet" href="/RRR/webfonts/fa-brands-400.ttf">
    <link rel="stylesheet" href="/RRR/css/all.css">
    <link rel="stylesheet" href="/RRR/css/bootstrap.min.css">

</head>

<body>

    <section class="sec_1">
        <header class="header">
            <div class="top_header">
                <div class="container">
                    <div class="row d-flex align-items-center">
                        <div class="col-lg-6 col-md-7 d-flex align-items-center ">
                            <div class="heder_top_left ">
                                <p class="text-white">Free shipping, 30-day return or refund guarantee.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-5">
                            <div class="header_top_right d-flex justify-content-end  ">
                                <div class="header_top_link">
                                    <a href="#" class="text-decoration-none sifa mx-3">Sign in</a>
                                    <a href="#" class="text-decoration-none sifa ">FAQs</a>
                                </div>
                                <div class="dropdown">
                                    <div class="border-0 dropdown-toggle text-white"
                                        style="font-size: 16px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"
                                        data-bs-toggle="dropdown">USD</div>
                                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark ">
                                        <li><a href="#" class="dropdown-item">USD</a></li>
                                        <li><a href="#" class="dropdown-item ">EUR</a></li>
                                        <li><a href="#" class="dropdown-item ">USD</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row  rosw d-flex">
                    <div class="col-lg-3  col-md-3">
                        <div class="header_logo">
                            <a href="">
                                <img src="/RRR/img/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <nav class="header_menu">
                            <ul class="list-unstyled d-flex justify-content-between align-items-center mb-0">

                                <li class="active">
                                    <a href="" class="text-decoration-none">Home</a>
                                </li>

                                <li>
                                    <a href="" class="text-decoration-none">Shop</a>
                                </li>

                                <li class="menu-item">
                                    <a href="#" class="text-decoration-none">
                                        Pages <i class="fa-solid fa-angle-down"></i>
                                    </a>

                                    <ul class="submenu list-unstyled">
                                        <li><a href="#" class="text-decoration-none">About Us</a></li>
                                        <li><a href="#" class="text-decoration-none">Shop Details</a></li>
                                        <li><a href="#" class="text-decoration-none">Shopping Cart</a></li>
                                        <li><a href="#" class="text-decoration-none">Checkout</a></li>
                                        <li><a href="#" class="text-decoration-none">Blog Details</a></li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="" class="text-decoration-none">Blog</a>
                                </li>

                                <li>
                                    <a href="" class="text-decoration-none">Contacts</a>
                                </li>

                            </ul>
                        </nav>
                    </div>
                    <div class="col-lg-3  col-md-3">
                        <div class="header_nav_option">
                            <a href="#" class="sarch_switch"><img src="/RRR/img/search.png" alt=""></a>
                            <a href="#"><img src="/RRR/img/heart.png" alt=""></a>
                            <a href="#"><img src="/RRR/img/cart.png" alt="">
                                <span>0</span></a>
                            <div class="price">$0.00</div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </section>


    <section class="shop_deaile">
        <div class="product_dataile_pic">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product_detaile_brand">
                            <a href="#" class="homee">Home <span><i class="fa-solid fa-angle-right"></i></span></a>
                            <a href="#" class="shopee">Shop <span><i class="fa-solid fa-angle-right"></i></span></a>
                            <span class="prodetaile"> Product Details</span>
                        </div>
                    </div>
                </div>
                <div class="row mt-5 vh-100">

                    <!-- Thumbnail Images -->
                    <div class="col-lg-3">
                        <ul class="nav flex-column border-0">

                            <li class="nav-item mb-1">
                                <a class="nav-link active" data-bs-toggle="tab" href="#tabs1">
                                    <img src="/RRR/img/thumb-1.png" class="img-fluid">
                                </a>
                            </li>

                            <li class="nav-item mb-1">
                                <a class="nav-link" data-bs-toggle="tab" href="#tabs2">
                                    <img src="/RRR/img/thumb-2.png" class="img-fluid">
                                </a>
                            </li>

                            <li class="nav-item mb-1">
                                <a class="nav-link" data-bs-toggle="tab" href="#tabs3">
                                    <img src="/RRR/img/thumb-3.png" class="img-fluid">
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tabs4">
                                    <img src="/RRR/img/thumb-4.png" class="img-fluid">
                                </a>
                            </li>

                        </ul>
                    </div>

                    <!-- Big Images -->
                    <div class="col-lg-6">
                        <div class="tab-content">

                            <div id="tabs1" class="tab-pane fade show active">
                                <div class="product_detaile_itm_pic">
                                    <img src="/RRR/img/product-big-2.png" class="">
                                </div>
                            </div>

                            <div id="tabs2" class="tab-pane fade active">
                                <div class="product_detaile_itm_pic">
                                    <img src="/RRR/img/product-big-3.png" class="">
                                </div>
                            </div>

                            <div id="tabs3" class="tab-pane fade">
                                <div class="product_detaile_itm_pic">
                                    <img src="/RRR/img/product-big.png" class="">
                                </div>
                            </div>

                            <div id="tabs4" class="tab-pane fade">
                                <div class="product_detaile_itm_pic">
                                    <img src="/RRR/img/product-big-4.png" class="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="product_ddtaile">
        <div class="product_datele_content">
            <div class="container">
                <div class="row d-flex justify-content-center ">
                    <div class="col-lg-8">
                        <div class="product_datele_text">
                            <h4 class="" style="text-align: center;">Hooded thermal anorak</h4>
                            <div class="reting" style="text-align: center;">
                                <i class="fa-solid fa-star retingg" style="color: #F7941D;"></i>
                                <i class="fa-solid fa-star retingg" style="color: #F7941D;"></i>
                                <i class="fa-solid fa-star retingg" style="color: #F7941D;"></i>
                                <i class="fa-solid fa-star retingg" style="color: #F7941D;"></i>
                                <i class="fa-regular fa-star"></i>
                                <span class="mx-2"> - 5 Reviews</span>
                            </div>
                            <h3 style="text-align: center;" class="mt-4">$270.00
                                <span class="prizz">70.80</span>
                            </h3>
                            <p style="text-align: center;">Coat with quilted lining and an adjustable hood. Featuring
                                long sleeves with adjustable cuff tabs, adjustable asymmetric hem with elastic side tabs
                                and a front zip fastening with placket.</p>
                            <div class=" size_fill">

                                <div class="product_detaile_option ">
                                    <div class="size-grid">
                                        <span class="mx-2 d-flex align-items-center"> SIZE :</span>
                                        <button class="size-btn">XXl</button>
                                        <button class="size-btn">XL</button>
                                        <button class="size-btn">L</button>
                                        <button class="size-btn">S</button>

                                    </div>
                                    <div class="colors d-flex align-items-center pt-3 gap-2">
                                        <span class="mx-2">COLOR:</span>
                                        <label class="color-item">
                                            <input type="radio" name="color-filter" value="black">
                                            <span class="color-circle" style="background-color: #000000;"></span>
                                        </label>


                                        <label class="color-item">
                                            <input type="radio" name="color-filter" value="navy">
                                            <span class="color-circle" style="background-color: #1A2E5A;"></span>
                                        </label>


                                        <label class="color-item">
                                            <input type="radio" name="color-filter" value="yellow">
                                            <span class="color-circle" style="background-color: #F3A83B;"></span>
                                        </label>

                                        <label class="color-item">
                                            <input type="radio" name="color-filter" value="grey">
                                            <span class="color-circle" style="background-color: #707070;"></span>
                                        </label>

                                        <label class="color-item">
                                            <input type="radio" name="color-filter" value="olive">
                                            <span class="color-circle" style="background-color: #adaaaa;"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="product_card_option">
                                    <div class="contity">
                                        <div class="cart-box">

                                            <div class="quantity">
                                                <input type="text" id="qty" value="1" readonly style="font-size: 20px;">

                                                <div class="buttons" style="border: 1px solid gainsboro; height: 40px;">
                                                    <button class="plus"><i class="fa-solid fa-caret-up"></i></button>
                                                    <button class="minus"><i class="fa-solid fa-sort-down"></i></button>
                                                </div>
                                            </div>

                                            <button class="cart-btn">
                                                ADD TO CART
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="product_datele_btn_option mt-3  " style="text-align: center;">
                                    <div class="hart">
                                        <a href="#" class="list-unstyled text-decoration-none "><i
                                                class="fa-solid fa-heart harts"></i></a>
                                        <span class="wishlist"> add to wishlist</span>
                                    </div>
                                    <div class="ero">
                                        <a href=""><i class="fa-solid fa-right-left harts"></i></i></a>
                                        <span class="wishlist">Add To Compare</span>
                                    </div>
                                </div>

                                <div class="safe-checkout">
                                    <div class="title">
                                        <span></span>
                                        <h2>Guaranteed Safe Checkout</h2>
                                        <span></span>
                                    </div>

                                    <div class="payment-icons">
                                        <img src="/RRR/img/details-payment.png" alt="">
                                    </div>

                                    <div class="product-info">
                                        <p><span>SKU:</span> <strong>3812912</strong></p>
                                        <p><span>Categories:</span> <strong>Clothes</strong></p>
                                        <p><span>Tag:</span> <strong>Clothes, Skin, Body</strong></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 mt-3">
                        <div class="product_detaile_tap">
                            <ul class="nav nav-tabs d-flex gap-4 justify-content-center border-0" role="tablist">

                                <li class="nav-item">
                                    <a class="nav-link active mainss " style="color: rgb(156, 152, 152);"
                                        data-bs-toggle="tab" href="#description">
                                        Description
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link mainss" data-bs-toggle="tab" style="color: rgb(156, 152, 152);"
                                        href="#review">
                                        Customer Reviews (5)
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link mainss" data-bs-toggle="tab" style="color: rgb(156, 152, 152);"
                                        href="#additional">
                                        Additional Information
                                    </a>
                                </li>

                            </ul>
                        </div>

                        <div class="tab-content mt-4">


                            <div class="tab-pane fade show active" id="description">
                                <div class="product_tedaile_tab_contante">
                                    <p class="note">
                                        Nam tempus turpis at metus scelerisque placerat nulla deumantos solicitud felis.
                                        Pellentesque diam dolor, elementum etos lobortis des mollis ut risus. Sedcus
                                        faucibus an sullamcorper mattis drostique des commodo pharetras loremos.
                                    </p>

                                    <div class="product_tedaile_tab_itms">
                                        <h5 class="itmsnew">Products Information</h5>

                                        <p class="pokers">
                                            A Pocket PC is a handheld computer, which features many of the same
                                            capabilities as a modern PC. These handy little devices allow individuals to
                                            retrieve and store e-mail messages, create a contact file, coordinate
                                            appointments, surf the internet, exchange text messages and more. Every
                                            product that is labeled as a Pocket PC must be accompanied with specific
                                            software to operate the unit and must feature a touchscreen and touchpad.

                                            As is the case with any new technology product, the cost of a Pocket PC was
                                            substantial during it’s early release. For approximately $700.00, consumers
                                            could purchase one of top-of-the-line Pocket PCs in 2003. These days,
                                            customers are finding that prices have become much more reasonable now that
                                            the newness is wearing off. For approximately $350.00, a new Pocket PC can
                                            now be purchased.
                                        </p>

                                        <h5 class="itmsnew">Material used</h5>
                                        <p class="pokers">
                                            Polyester is deemed lower quality due to its none natural quality’s. Made
                                            from synthetic materials, not natural like wool. Polyester suits become
                                            creased easily and are known for not being breathable. Polyester suits tend
                                            to have a shine to them compared to wool and cotton suits, this can make the
                                            suit look cheap. The texture of velvet is luxurious and breathable. Velvet
                                            is a great choice for dinner party jacket and can be worn all year round.
                                        </p>
                                    </div>
                                </div>
                            </div>


                            <div class="tab-pane fade" id="review">
                                <h5 class="itmsnew">Products Infomation</h5>
                                <p class="pokers">A Pocket PC is a handheld computer, which features many of the same capabilities as a
                                    modern PC. These handy little devices allow individuals to retrieve and store e-mail
                                    messages, create a contact file, coordinate appointments, surf the internet,
                                    exchange text messages and more. Every product that is labeled as a Pocket PC must
                                    be accompanied with specific software to operate the unit and must feature a
                                    touchscreen and touchpad.

                                    As is the case with any new technology product, the cost of a Pocket PC was
                                    substantial during it’s early release. For approximately $700.00, consumers could
                                    purchase one of top-of-the-line Pocket PCs in 2003. These days, customers are
                                    finding that prices have become much more reasonable now that the newness is wearing
                                    off. For approximately $350.00, a new Pocket PC can now be purchased.</p>

                                    <h5 class="itmsnew">Material used</h5>
                                <p class="pokers">Polyester is deemed lower quality due to its none natural quality’s. Made from synthetic materials, not natural like wool. Polyester suits become creased easily and are known for not being breathable. Polyester suits tend to have a shine to them compared to wool and cotton suits, this can make the suit look cheap. The texture of velvet is luxurious and breathable. Velvet is a great choice for dinner party jacket and can be worn all year round.</p>
                            </div>


                            <div class="tab-pane fade" id="additional">
                               <h5 class="itmsnew">Products Information</h5>

                                        <p class="pokers">
                                            A Pocket PC is a handheld computer, which features many of the same
                                            capabilities as a modern PC. These handy little devices allow individuals to
                                            retrieve and store e-mail messages, create a contact file, coordinate
                                            appointments, surf the internet, exchange text messages and more. Every
                                            product that is labeled as a Pocket PC must be accompanied with specific
                                            software to operate the unit and must feature a touchscreen and touchpad.

                                            As is the case with any new technology product, the cost of a Pocket PC was
                                            substantial during it’s early release. For approximately $700.00, consumers
                                            could purchase one of top-of-the-line Pocket PCs in 2003. These days,
                                            customers are finding that prices have become much more reasonable now that
                                            the newness is wearing off. For approximately $350.00, a new Pocket PC can
                                            now be purchased.
                                        </p>

                                        <h5 class="itmsnew">Material used</h5>
                                        <p class="pokers">
                                            Polyester is deemed lower quality due to its none natural quality’s. Made
                                            from synthetic materials, not natural like wool. Polyester suits become
                                            creased easily and are known for not being breathable. Polyester suits tend
                                            to have a shine to them compared to wool and cotton suits, this can make the
                                            suit look cheap. The texture of velvet is luxurious and breathable. Velvet
                                            is a great choice for dinner party jacket and can be worn all year round.
                                        </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="releted_spand ">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 d-flex justify-content-center">
                    <h3 class="releted_titale">
                        Related Product
                    </h3>
                </div>
                <div class="itms_releted pt-4">
                     <div class="row d-flex">

                <div class="col-lg-3">
                    <div class="cards">
                        <div class="card_img">
                            <span class="newlabale">NEW</span>
                        </div>

                        <ul class="list-unstyled product_hover">
                            <li><a href="#"><img src="/RRR/img/heart.png" alt=""></a></li>
                            <li><a href="#"><img src="/RRR/img/compare.png" alt=""></a></li>
                            <li><a href="#"><img src="/RRR/img/search.png" alt=""></a></li>
                        </ul>
                    </div>
                    <div class="product_text">
                        <h6>Ankle Boots</h6>
                        <a href="#" class="add_card">Add To Cart</a>
                        <div class="reting">
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <h5 class="dolor">$67.24</h5>
                        <div class="product_selecion">
                            <label class="color-btn white">
                                <input type="radio" name="color1" checked>
                            </label>

                            <label class="color-btn black">
                                <input type="radio" name="color1">
                            </label>

                            <label class="color-btn grey">
                                <input type="radio" name="color1">
                            </label>
                        </div>
                    </div>

                </div>

                <div class="col-lg-3">
                    <div class="cards">
                        <div class="card_img_2">
                        </div>

                        <ul class="list-unstyled product_hover">
                            <li><a href="#"><img src="/RRR/img/heart.png" alt=""></a></li>
                            <li><a href="#"><img src="/RRR/img/compare.png" alt=""></a></li>
                            <li><a href="#"><img src="/RRR/img/search.png" alt=""></a></li>
                        </ul>
                    </div>
                    <div class="product_text">
                        <h6>Piqué Biker Jacket</h6>
                        <a href="#" class="add_card">Add To Cart</a>
                        <div class="reting">
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <h5 class="dolor">$67.24</h5>
                        <div class="product_selecion">
                            <label for="pc-1">
                                <input type="radio" id="pc-1">
                            </label>

                            <label class="black" for="pc-2">
                                <input type="radio" id="pc-2">
                            </label>

                            <label class="grey active" for="pc-1">
                                <input type="radio" id="pc-3">
                            </label>
                        </div>
                    </div>

                </div>

                <div class="col-lg-3">
                    <div class="cards">
                        <div class="card_img_3">
                            <span class="newlabales">NEW</span>
                        </div>
                        <ul class="list-unstyled product_hover">
                            <li><a href="#"><img src="/RRR/img/heart.png" alt=""></a></li>
                            <li><a href="#"><img src="/RRR/img/compare.png" alt=""></a></li>
                            <li><a href="#"><img src="/RRR/img/search.png" alt=""></a></li>
                        </ul>
                    </div>
                    <div class="product_text">
                        <h6>Piqué Biker Jacket</h6>
                        <a href="#" class="add_card">Add To Cart</a>
                        <div class="reting">
                            <div class="color">
                                <i class="fa-regular fa-star "></i>
                                <i class="fa-regular fa-star "></i>
                                <i class="fa-regular fa-star "></i>
                                <i class="fa-regular fa-star "></i>
                                <i class="fa-regular fa-star"></i>
                            </div>
                        </div>
                        <h5 class="dolor">$43.48</h5>
                        <div class="product_selecion">
                            <label for="pc-1">
                                <input type="radio" id="pc-1">
                            </label>

                            <label class="black" for="pc-2">
                                <input type="radio" id="pc-2">
                            </label>

                            <label class="grey active" for="pc-1">
                                <input type="radio" id="pc-3">
                            </label>
                        </div>
                    </div>

                </div>

                <div class="col-lg-3">
                    <div class="cards">
                        <div class="card_img_4">
                        </div>
                        <ul class="list-unstyled product_hover">
                            <li><a href="#"><img src="/RRR/img/heart.png" alt=""></a></li>
                            <li><a href="#"><img src="/RRR/img/compare.png" alt=""></a></li>
                            <li><a href="#"><img src="/RRR/img/search.png" alt=""></a></li>
                        </ul>
                    </div>
                    <div class="product_text">
                        <h6>Piqué Biker Jacket</h6>
                        <a href="#" class="add_card">Add To Cart</a>
                        <div class="reting">
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <h5 class="dolor">$60.9</h5>
                        <div class="product_selecion">
                            <label for="pc-1">
                                <input type="radio" id="pc-1">
                            </label>

                            <label class="black" for="pc-2">
                                <input type="radio" id="pc-2">
                            </label>

                            <label class="grey active" for="pc-1">
                                <input type="radio" id="pc-3">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            </div>
        </div>
    </section>

     <footer class="site-footer ">
        <div class="footer-container">
            <div class="footer-row">

                <!-- Brand Column -->
                <div class="footer-col">
                    <div class="brand-title"><img src="/RRR/img/footer-logo.png" alt=""></div>
                    <p>The customer is at the heart of our unique business model, which includes design.</p>
                    <div class="payment-methods">
                        <!-- Standard placeholder payment graphics -->
                        <img src="/RRR/img/payment.png" alt="">
                    </div>
                </div>

                <!-- Shopping Links Column -->
                <div class="footer-col">
                    <h3>Shopping</h3>
                    <ul>
                        <li><a href="#">Clothing Store</a></li>
                        <li><a href="#">Trending Shoes</a></li>
                        <li><a href="#">Accessories</a></li>
                        <li><a href="#">Sale</a></li>
                    </ul>
                </div>

                <!-- Support Links Column -->
                <div class="footer-col">
                    <h3>Support</h3>
                    <ul>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Payment Methods</a></li>
                        <li><a href="#">Delivery</a></li>
                        <li><a href="#">Return & Exchanges</a></li>
                    </ul>
                </div>

                <!-- Newsletter Column -->
                <div class="footer-col">
                    <h3>Newsletter</h3>
                    <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                    <form class="newsletter-form" action="#" method="POST">
                        <input type="email" placeholder="Your email" required>
                        <button type="submit" aria-label="Subscribe">
                            <i class="fa-regular fa-envelope"></i>
                        </button>
                    </form>
                </div>

            </div>

            <hr class="footer-divider">

            <!-- Copyright Bar -->
            <div class="footer-bottom">
                <p>Copyright © 2026 All rights reserved | This template is made with <i class="fa-solid fa-heart"></i>
                    by <a href="https://colorlib.com" target="_blank" rel="noopener">Colorlib</a></p>
            </div>
        </div>
    </footer>










    <script src="/RRR/js/bootstrap.bundle.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <!-- pages menu -->
    <script>
        $(document).ready(function () {

            $(".menu-item").hover(
                function () {
                    $(this).addClass("active");
                },
                function () {
                    $(this).removeClass("active");
                }
            );

        });
    </script>

<script>
$(document).ready(function () {

    $(".currency-btn").click(function (e) {
        e.stopPropagation();
        $(".currency-menu").slideToggle(300);
    });

    $(document).click(function () {
        $(".currency-menu").slideUp(300);
    });

});
</script>

    <script>
        $(document).ready(function () {

            $(".plus").click(function () {
                let qty = parseInt($("#qty").val());
                $("#qty").val(qty + 1);
            });

            $(".minus").click(function () {
                let qty = parseInt($("#qty").val());

                if (qty > 1) {
                    $("#qty").val(qty - 1);
                }
            });

        });
    </script>


</body>

</html>