<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Male Fashion</title>
    <link rel="stylesheet" href="/RRR/css/all.css">
    <link rel="stylesheet" href="/RRR/css/bootstrap.min.css">
    <link rel="stylesheet" href="/RRR/webfonts/fa-brands-400.ttf">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <!-- <link rel="stylesheet" href="ecome.css"> -->
    <link rel="stylesheet" href="ecome.css">
</head>

<body>
    <section class="sec_1">
        <header class="header">
            <div class="top_header">
                <div class="container">
                    <div class="row d-flex align-items-center">
                        <div class="col-lg-6 col-md-7 d-flex align-items-center ">
                            <div class="heder_top_left ">
                                <p class="">Free shipping, 30-day return or refund guarantee.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-5">
                            <div class="header_top_right d-flex justify-content-end  ">
                                <div class="header_top_link">
                                    <a href="#" class="text-decoration-none sifa mx-3">Sign in</a>
                                    <a href="#" class="text-decoration-none sifa ">FAQs</a>
                                </div>
                                    <div class="dropdown">
                                        <div class="currency-btn">
                                            USD <i class="fa-solid fa-angle-down"></i>
                                        </div>

                                        <ul class="currency-menu">
                                            <li><a href="#">USD</a></li>
                                            <li><a href="#">EUR</a></li>
                                            <li><a href="#">INR</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row  rosw d-flex">
                    <div class="col-lg-3  col-md-3">
                        <div class="header_logo">
                            <a href="">
                                <img src="/RRR/img/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <nav class="header_menu">
                            <ul class="list-unstyled d-flex justify-content-between align-items-center mb-0">

                                <li class="active">
                                    <a href="index.html" class="text-decoration-none">Home</a>
                                </li>

                                <li>
                                    <a href="ecoabout.html" class="text-decoration-none">Shop</a>
                                </li>

                                <li class="menu-item">
                                    <a href="#" class="text-decoration-none">
                                        Pages <i class="fa-solid fa-angle-down"></i>
                                    </a>

                                    <ul class="submenu list-unstyled">
                                        <li><a href="ecoaoutus.html" class="text-decoration-none">About Us</a></li>
                                        <li><a href="ecoshopdetile.html" class="text-decoration-none">Shop Details</a></li>
                                        <li><a href="ecoshoppingcard.html" class="text-decoration-none">Shopping Cart</a></li>
                                        <li><a href="checkaout.html" class="text-decoration-none">Checkout</a></li>
                                        <li><a href="blogdtailes.html" class="text-decoration-none">Blog Details</a></li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="blog.html" class="text-decoration-none">Blog</a>
                                </li>

                                <li>
                                    <a href="contact.html" class="text-decoration-none">Contacts</a>
                                </li>

                            </ul>
                        </nav>
                    </div>
                    <div class="col-lg-3  col-md-3">
                        <div class="header_nav_option">
                            <a href="#" class="sarch_switch"><img src="/RRR/img/search.png" alt=""></a>
                            <a href="#"><img src="/RRR/img/heart.png" alt=""></a>
                            <a href="#"><img src="/RRR/img/cart.png" alt="">
                                <span>0</span></a>
                            <div class="price">$0.00</div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </section>


    <section class="hero ">
        <div class="hero_slider ">
            <div class="stage_uter container">
                <div class="container">
                    <div class=" vh-100 d-flex flex-column justify-content-center position-relative">
                        <!-- col-lg-8 -->
                        <div class="text_hero">
                            <h6 class="">Summer Collection</h6>
                            <h2 class="fall">Fall - Winter <br> Collections 2030</h2>
                        </div>
                        <div class="tex_div">
                            <p class="label">A specialist label creating luxury essentials. Ethically crafted <br> with
                                an
                                unwavering commitment to exceptional quality..</p>
                            <div class="primary-btn d-flex align-items-center justify-content-center">
                                <a href="#" class=" text-decoration-none text-white">SHOP NOW</a>
                            </div>

                        </div>
                        <div class="icon position-relative " style="z-index: 111;">
                            <ul class="d-flex  position-absolute gap-4   list-unstyled"
                                style="bottom: -8rem; z-index: 111;">
                                <li><i class="fa-brands fa-facebook-f"></i></li>
                                <li><i class="fa-brands fa-twitter"></i></li>
                                <li><i class="fa-brands fa-pinterest"></i></li>
                                <li><i class="fa-brands fa-instagram"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bener">
        <div class="container">
            <div class="row d-flex">
                <div class="col-lg-7  col_div">
                    <div class="baner_item  my-auto">
                        <div class="bener_pic">
                            <img src="/RRR/img/banner-1.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="bener_text">
                            <h2 class="clothing">Clothing <br> Collections 2030</h2>
                            <a href="" class="nowshop">SHOP NOW</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="baner_middel">
                        <div class="baner_itm_pic">
                            <img src="/RRR/img/banner-2.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="baners_text">
                            <h2 class="aeccesri">Accessories</h2>
                            <a href="" class="shoshope">SHOP NOW</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="baner_last_itm">
                        <div class="baner_pick">
                            <img src="/RRR/img/banner-3.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="baner_last_txt">
                            <h2 class="shoes">Shoes Spring <br> 2030</h2>
                            <a href="" class="shoshope">SHOP NOW</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>





    <section class="productsec ">
        <div class="container">
            <div class="row d-flex">
                <ul class="list-unstyled d-flex align-items-center justify-content-center gap-5">
                    <li><a href="#" class="newpro">Best Sellers</a></li>
                    <li><a href="#" class="newpro">New Arrivels</a></li>
                    <li><a href="#" class="newpro">Hot Salse</a></li>
                </ul>
            </div>
        </div>

        <div class="container">
            <div class="row d-flex">

                <div class="col-lg-3">
                    <div class="cards">
                        <div class="card_img">
                            <span class="newlabale">NEW</span>
                        </div>

                        <ul class="list-unstyled product_hover">
                            <li><a href="#"><img src="/RRR/img/heart.png" alt=""></a></li>
                            <li><a href="#"><img src="/RRR/img/compare.png" alt=""></a></li>
                            <li><a href="#"><img src="/RRR/img/search.png" alt=""></a></li>
                        </ul>
                    </div>
                    <div class="product_text">
                        <h6>Ankle Boots</h6>
                        <a href="#" class="add_card">Add To Cart</a>
                        <div class="reting">
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <h5 class="dolor">$67.24</h5>
                        <div class="product_selecion">
                            <label class="color-btn white">
                                <input type="radio" name="color1" checked>
                            </label>

                            <label class="color-btn black">
                                <input type="radio" name="color1">
                            </label>

                            <label class="color-btn grey">
                                <input type="radio" name="color1">
                            </label>
                        </div>
                    </div>

                </div>

                <div class="col-lg-3">
                    <div class="cards">
                        <div class="card_img_2">
                        </div>

                        <ul class="list-unstyled product_hover">
                            <li><a href="#"><img src="/RRR/img/heart.png" alt=""></a></li>
                            <li><a href="#"><img src="/RRR/img/compare.png" alt=""></a></li>
                            <li><a href="#"><img src="/RRR/img/search.png" alt=""></a></li>
                        </ul>
                    </div>
                    <div class="product_text">
                        <h6>Piqué Biker Jacket</h6>
                        <a href="#" class="add_card">Add To Cart</a>
                        <div class="reting">
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <h5 class="dolor">$67.24</h5>
                        <div class="product_selecion">
                            <label for="pc-1">
                                <input type="radio" id="pc-1">
                            </label>

                            <label class="black" for="pc-2">
                                <input type="radio" id="pc-2">
                            </label>

                            <label class="grey active" for="pc-1">
                                <input type="radio" id="pc-3">
                            </label>
                        </div>
                    </div>

                </div>

                <div class="col-lg-3">
                    <div class="cards">
                        <div class="card_img_3">
                            <span class="newlabales">NEW</span>
                        </div>
                        <ul class="list-unstyled product_hover">
                            <li><a href="#"><img src="/RRR/img/heart.png" alt=""></a></li>
                            <li><a href="#"><img src="/RRR/img/compare.png" alt=""></a></li>
                            <li><a href="#"><img src="/RRR/img/search.png" alt=""></a></li>
                        </ul>
                    </div>
                    <div class="product_text">
                        <h6>Piqué Biker Jacket</h6>
                        <a href="#" class="add_card">Add To Cart</a>
                        <div class="reting">
                            <div class="color">
                                <i class="fa-regular fa-star "></i>
                                <i class="fa-regular fa-star "></i>
                                <i class="fa-regular fa-star "></i>
                                <i class="fa-regular fa-star "></i>
                                <i class="fa-regular fa-star"></i>
                            </div>
                        </div>
                        <h5 class="dolor">$43.48</h5>
                        <div class="product_selecion">
                            <label for="pc-1">
                                <input type="radio" id="pc-1">
                            </label>

                            <label class="black" for="pc-2">
                                <input type="radio" id="pc-2">
                            </label>

                            <label class="grey active" for="pc-1">
                                <input type="radio" id="pc-3">
                            </label>
                        </div>
                    </div>

                </div>

                <div class="col-lg-3">
                    <div class="cards">
                        <div class="card_img_4">
                        </div>
                        <ul class="list-unstyled product_hover">
                            <li><a href="#"><img src="/RRR/img/heart.png" alt=""></a></li>
                            <li><a href="#"><img src="/RRR/img/compare.png" alt=""></a></li>
                            <li><a href="#"><img src="/RRR/img/search.png" alt=""></a></li>
                        </ul>
                    </div>
                    <div class="product_text">
                        <h6>Piqué Biker Jacket</h6>
                        <a href="#" class="add_card">Add To Cart</a>
                        <div class="reting">
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <h5 class="dolor">$60.9</h5>
                        <div class="product_selecion">
                            <label for="pc-1">
                                <input type="radio" id="pc-1">
                            </label>

                            <label class="black" for="pc-2">
                                <input type="radio" id="pc-2">
                            </label>

                            <label class="grey active" for="pc-1">
                                <input type="radio" id="pc-3">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>






        <div class="container mt-4">
            <div class="row d-flex">
                <div class="col-lg-3">
                    <div class="cards">
                        <div class="card_img_5">
                            <span class="newlabale">NEW</span>
                        </div>

                        <ul class="list-unstyled product_hover">
                            <li><a href="#"><img src="/RRR/img/heart.png" alt=""></a></li>
                            <li><a href="#"><img src="/RRR/img/compare.png" alt=""></a></li>
                            <li><a href="#"><img src="/RRR/img/search.png" alt=""></a></li>
                        </ul>
                    </div>
                    <div class="product_text">
                        <h6>Piqué Biker Jacket</h6>
                        <a href="#" class="add_card">Add To Cart</a>
                        <div class="reting">
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <h5 class="dolor">$31.37</h5>
                        <div class="product_selecion">
                            <label for="pc-1">
                                <input type="radio" id="pc-1">
                            </label>

                            <label class="black" for="pc-2">
                                <input type="radio" id="pc-2">
                            </label>

                            <label class="grey active" for="pc-1">
                                <input type="radio" id="pc-3">
                            </label>
                        </div>
                    </div>

                </div>

                <div class="col-lg-3">
                    <div class="cards">
                        <div class="card_img_6">
                        </div>

                        <ul class="list-unstyled product_hover">
                            <li><a href="#"><img src="/RRR/img/heart.png" alt=""></a></li>
                            <li><a href="#"><img src="/RRR/img/compare.png" alt=""></a></li>
                            <li><a href="#"><img src="/RRR/img/search.png" alt=""></a></li>
                        </ul>
                    </div>
                    <div class="product_text">
                        <h6>Piqué Biker Jacket</h6>
                        <a href="#" class="add_card">Add To Cart</a>
                        <div class="reting">
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <h5 class="dolor">$98.49</h5>
                        <div class="product_selecion">
                            <label for="pc-1">
                                <input type="radio" id="pc-1">
                            </label>

                            <label class="black" for="pc-2">
                                <input type="radio" id="pc-2">
                            </label>

                            <label class="grey active" for="pc-1">
                                <input type="radio" id="pc-3">
                            </label>
                        </div>
                    </div>

                </div>

                <div class="col-lg-3">
                    <div class="cards">
                        <div class="card_img_7">
                            <span class="newlabales">NEW</span>
                        </div>
                        <ul class="list-unstyled product_hover">
                            <li><a href="#"><img src="/RRR/img/heart.png" alt=""></a></li>
                            <li><a href="#"><img src="/RRR/img/compare.png" alt=""></a></li>
                            <li><a href="#"><img src="/RRR/img/search.png" alt=""></a></li>
                        </ul>
                    </div>
                    <div class="product_text">
                        <h6>Piqué Biker Jacket</h6>
                        <a href="#" class="add_card">Add To Cart</a>
                        <div class="reting">
                            <div class="color">
                                <i class="fa-regular fa-star "></i>
                                <i class="fa-regular fa-star "></i>
                                <i class="fa-regular fa-star "></i>
                                <i class="fa-regular fa-star "></i>
                                <i class="fa-regular fa-star"></i>
                            </div>
                        </div>
                        <h5 class="dolor">$49.66</h5>
                        <div class="product_selecion">
                            <label for="pc-1">
                                <input type="radio" id="pc-1">
                            </label>

                            <label class="black" for="pc-2">
                                <input type="radio" id="pc-2">
                            </label>

                            <label class="grey active" for="pc-1">
                                <input type="radio" id="pc-3">
                            </label>
                        </div>
                    </div>

                </div>

                <div class="col-lg-3">
                    <div class="cards">
                        <div class="card_img_8">
                        </div>
                        <ul class="list-unstyled product_hover">
                            <li><a href="#"><img src="/RRR/img/heart.png" alt=""></a></li>
                            <li><a href="#"><img src="/RRR/img/compare.png" alt=""></a></li>
                            <li><a href="#"><img src="/RRR/img/search.png" alt=""></a></li>
                        </ul>
                    </div>
                    <div class="product_text">
                        <h6>Piqué Biker Jacket</h6>
                        <a href="#" class="add_card">Add To Cart</a>
                        <div class="reting">
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <h5 class="dolor">$49.66</h5>
                        <div class="product_selecion">
                            <label for="pc-1">
                                <input type="radio" id="pc-1">
                            </label>

                            <label class="black" for="pc-2">
                                <input type="radio" id="pc-2">
                            </label>

                            <label class="grey active" for="pc-1">
                                <input type="radio" id="pc-3">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="categories ">
        <div class="container">
            <div class="row d-flex gap-3">
                <div class="col-lg-3">
                    <div class="cetegories_text">
                        <h2>
                            Clothing
                            <br>
                            <span class="shoe">Shoe Collection</span>
                            <br>
                            Accessories
                        </h2>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="imgs">
                        <div class=sele>
                            <span class="text-white  saless">Sale Of</span>
                            <h4 class="text-white money">$29.99</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="categariy_deal">
                        <span class="week">Deal Of The Week</span>
                        <h2>Multi-pocket Chest Bag Black</h2>
                        <div class="timer d-flex" id="countdwon">
                            <div class="cd_iteam">
                                <span>0</span>
                                <p>Days</p>
                            </div>
                            <div class="cd_iteam">
                                <span>11</span>
                                <p>Hours</p>
                            </div>
                            <div class="cd_iteam">
                                <span>15</span>
                                <p>Minutes</p>
                            </div>
                            <div class="cd_iteam">
                                <span>11</span>
                                <p>second</p>
                            </div>
                        </div>
                        <div class="uperbtn">
                            <a href="#" class="primary-btns " style="text-align: center;">Shop now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="fottersid">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 d-flex">
                    <div class="col-lg-9">
                        <div class="insta_img">
                            <img src="/RRR/img/instagram-1.jpg" class="img-fluid" alt="">
                            <img src="/RRR/img/instagram-2.jpg" class="img-fluid" alt="">
                            <img src="/RRR/img/instagram-3.jpg" class="img-fluid" alt="">
                            <div class="insta_img2 mt-1">
                                <img src="/RRR/img/instagram-4.jpg" class="img-fluid" alt="">
                                <img src="/RRR/img/instagram-5.jpg" class="img-fluid" alt="">
                                <img src="/RRR/img/instagram-6.jpg" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="inst_text">
                            <h2 class="">Instagram</h2>
                            <p class="gram">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor incididunt
                                ut labore et dolore magna aliqua.</p>
                            <h3 class="mlefs">#Male_Fashion</h3>
                        </div>
                    </div>
                </div>
            </div>
    </section>


    <section class="blog-section">
        <div class="container">
            <div class="row">
                <h5 class="latest">Latest News</h5>
                <h2 class="section-title_fes">Fashion New Trends</h2>
                <div class="col-lg-12 d-flex gap-3">
                    <div class="col-lg-4">
                        <div class="blog-card">
                            <div class="image-wrapper">
                                <img src="/RRR/img/blog-1.jpg" style="width: 100%;" class="img-fluid"
                                    alt="Coffee Latte Art">
                            </div>
                            <div class="card-content">
                                <span class="feb">
                                    <img src="/RRR/img/calendar.png" alt="">
                                    16 February 2020
                                </span>
                                <h5 class="irons">
                                    What Curling Irons Are The Best Ones
                                </h5>
                                <div class="textred">
                                    <a href="" class="readmore">Read More </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog-card">
                            <div class="image-wrapper">
                                <img src="/RRR/img/blog-2.jpg" style="width: 100%;" class="img-fluid"
                                    alt="Coffee Latte Art">
                            </div>
                            <div class="card-content">
                                <span class="feb">
                                    <img src="/RRR/img/calendar.png" alt="">
                                    21 February 2020
                                </span>
                                <h5 class="irons">
                                    Eternity Bands Do Last Forever
                                </h5>
                                <div class="textred">
                                    <a href="" class="readmore">Read More </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog-card">
                            <div class="image-wrapper">
                                <img src="/RRR/img/blog-3.jpg" style="width: 100%;" class="img-fluid"
                                    alt="Coffee Latte Art">
                            </div>
                            <div class="card-content">
                                <span class="feb">
                                    <img src="/RRR/img/calendar.png" alt="">
                                    28 February 2020
                                </span>
                                <h5 class="irons">
                                    The Health Benefits Of Sunglasses
                                </h5>
                                <div class="textred">
                                    <a href="" class="readmore">Read More </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>


    <footer class="site-footer">
        <div class="footer-container">
            <div class="footer-row">

                <!-- Brand Column -->
                <div class="footer-col">
                    <div class="brand-title"><img src="/RRR/img/footer-logo.png" alt=""></div>
                    <p>The customer is at the heart of our unique business model, which includes design.</p>
                    <div class="payment-methods">
                        <!-- Standard placeholder payment graphics -->
                        <img src="/RRR/img/payment.png" alt="">
                    </div>
                </div>

                <!-- Shopping Links Column -->
                <div class="footer-col">
                    <h3>Shopping</h3>
                    <ul>
                        <li><a href="#">Clothing Store</a></li>
                        <li><a href="#">Trending Shoes</a></li>
                        <li><a href="#">Accessories</a></li>
                        <li><a href="#">Sale</a></li>
                    </ul>
                </div>

                <!-- Support Links Column -->
                <div class="footer-col">
                    <h3>Support</h3>
                    <ul>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Payment Methods</a></li>
                        <li><a href="#">Delivery</a></li>
                        <li><a href="#">Return & Exchanges</a></li>
                    </ul>
                </div>

                <!-- Newsletter Column -->
                <div class="footer-col">
                    <h3>Newsletter</h3>
                    <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                    <form class="newsletter-form" action="#" method="POST">
                        <input type="email" placeholder="Your email" required>
                        <button type="submit" aria-label="Subscribe">
                            <i class="fa-regular fa-envelope"></i>
                        </button>
                    </form>
                </div>

            </div>

            <hr class="footer-divider">

            <!-- Copyright Bar -->
            <div class="footer-bottom">
                <p>Copyright © 2026 All rights reserved | This template is made with <i class="fa-solid fa-heart"></i>
                    by <a href="https://colorlib.com" target="_blank" rel="noopener">Colorlib</a></p>
            </div>
        </div>
    </footer>





    <script src="/RRR/js/bootstrap.bundle.js"></script>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>


    <!-- pages menu -->
    <script>
        $(document).ready(function () {

            $(".menu-item").hover(
                function () {
                    $(this).addClass("active");
                },
                function () {
                    $(this).removeClass("active");
                }
            );

        });
    </script>


    <!-- heder menu -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

<script>
$(document).ready(function () {

    $(".currency-btn").click(function (e) {
        e.stopPropagation();
        $(".currency-menu").slideToggle(300);
    });

    $(document).click(function () {
        $(".currency-menu").slideUp(300);
    });

});
</script>

    <script>
        $(document).ready(function () {

            // Card Hover Animation
            $('.cards').hover(
                function () {
                    $(this).stop().animate({
                        marginTop: '-10px'
                    }, 250);
                },
                function () {
                    $(this).stop().animate({
                        marginTop: '0px'
                    }, 250);
                }
            );

            // Product Icons Animation
            $('.cards').hover(function () {
                $(this).find('.product_hover li').each(function (i) {
                    $(this).delay(i * 100).animate({
                        opacity: 1
                    }, 200);
                });
            });

            // Color Selection
            $('.product_selecion label').click(function () {

                $(this)
                    .closest('.product_selecion')
                    .find('label')
                    .removeClass('active');

                $(this).addClass('active');

                $(this).find('input')
                    .prop('checked', true);
            });

            // Add To Cart Animation
            $('.add_card').hover(
                function () {
                    $(this).animate({
                        letterSpacing: '1px'
                    }, 200);
                },
                function () {
                    $(this).animate({
                        letterSpacing: '0px'
                    }, 200);
                }
            );

        });
    </script>



    <!-- COUNTDOWN SCRIPT -->

    <script>
        // Set future date
        const countdownDate = new Date("Dec 31, 2026 23:59:59").getTime();

        const timer = setInterval(function () {

            const now = new Date().getTime();
            const distance = countdownDate - now;

            // Time calculations
            const days = Math.floor(distance / (1000 * 4750 * 60 * 24));
            const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            const seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Update HTML
            document.querySelectorAll(".cd_iteam span")[0].innerHTML = days;
            document.querySelectorAll(".cd_iteam span")[1].innerHTML = hours;
            document.querySelectorAll(".cd_iteam span")[2].innerHTML = minutes;
            document.querySelectorAll(".cd_iteam span")[3].innerHTML = seconds;

            // If countdown finished
            if (distance < 0) {
                clearInterval(timer);
                document.getElementById("countdwon").innerHTML = "OFFER EXPIRED";
            }

        }, 1000);
    </script>


</body>

</html>
</body>

</html>